.sidebar {
    position: absolute;
    height: 100%;
    top: 0px;
    background: #f7f7f7;
    z-index: 9999;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 7px 20px 7px 15px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom-right-radius: 4px;
    width: 550px;
}
.btnHideSidebar {
    left: 545px;
    position: absolute;
    z-index: 9998;
    margin-top: 7px;
    padding: 0;
}
.btnShowSidebar {
    position: absolute;
    display: inline-block;
    width: auto;
    z-index: 9998;
    margin-top: 7px;
    margin-left: -5px;
    padding: 0;
}
@media (max-width: 992px) {
    .sidebar {
        width: 450px;
    }
    .btnHideSidebar {
        left: 445px;
    }
}
@media (max-width: 768px) {
    .sidebar {
        width: 280px;
    }
    .btnHideSidebar {
        left: 275px;
    }
     
}